<div class="bg-neutral-900">
    <div class="container mx-auto p-5">
        <ul class="flex gap-8 uppercase text-white">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <span class="text-neutral-400">Lifestyle</span>
            </li>
        </ul>
    </div>
</div>