<nav class="bg-white border-gray-200 border-b z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 lg:py-5 px-5">
        <a href="index.html" class="flex items-center font-sans">
            <span class="self-center text-2xl lg:text-4xl font-semibold whitespace-nowrap">Alexa Blog</span>
        </a>
        <div class="flex items-center md:order-2">
            <!-- Language -->
            <a class="inline-flex items-center justify-center px-4 py-2 font-semibold text-gray-900 uppercase cursor-pointer" href="#">
                <span>EN</span>
            </a>
            <!-- Profile -->
            <a class="inline-flex items-center justify-center px-4 py-2 font-semibold text-gray-900 cursor-pointer" href="profile.html">
                <span>Profile</span>
            </a>
        </div>
    </div>
</nav>