<a class="flex flex-col gap-4 p-5" href="#">
    <img class="w-full" src="https://placehold.co/400x400" loading="lazy" alt="title">
    <div class="flex flex-col text-center">
        <div class="uppercase text-theme text-sm">January 14, 2023</div>
        <div class="font-sans font-semibold text-2xl">Ready for a getaway weekend</div>
    </div>
</a>