---
const { title = 'Template Page' } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{ title }</title>
        <meta name="description" content="A template page for Astro." />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	</head>
	<body class="antialiased bg-white font-serif text-base">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>